body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

#hud {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

#playBtn {
    padding: 12px 25px;
    background: red;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
