body {
  background-color: #101010;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background: red;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

nav {
  margin: 20px;
}

nav button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background: #222;
  color: white;
  border: 2px solid red;
  border-radius: 6px;
  }
