body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background: #b00000;
  padding: 20px;
  box-shadow: 0 0 15px #ff0000;
}

.tienda, .personajes {
  margin: 20px;
  padding: 15px;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px red;
}

.personaje {
  margin: 10px;
  padding: 10px;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 0 6px #ff3b3b;
}

button {
  background: red;
  border: none;
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px red;
}

button:hover {
  background: #ff4040;
  }
